* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
    pointer-events: none;

    #app {
        width: 100%;
        height: 100%;

        .art-notice, .art-mask, .art-control-volume, .art-bottom, .art-layers, .art-danmuku, .art-subtitle,  .art-info {
            display: none !important;
        }
    }
}
